// light mode colors
html {
  --background-color: #dbdbdb; // 제이든 옐로우: #fabe59 //
  --primary-text-color: #000000; //
  --secondary-text-color: #3c3c3c; //
  --content-text-color: #000000; //

  --button-background-color: #f3f3f4;
  --button-text-color: #010101; //

  --tab-text-color: #3c3c3c; //
  --tab-hover-text-color: #020202; //
  --tab-selected-background-color: #eeeeee; //

  --chip-background-color: #eeeeee; //
  --bio-link-icon-color: #000000; //
  --about-link-icon-color: #3c3c3c; //

  --link-text-color: #fe4d52; //
  --post-card-border-color: #010101; //

  --markdown-table-even-cell-background-color: #f6f8fa;
  --markdown-table-border-color: #4f5864; //
  --markdown-blockquote-border-color: #4f5864; //
  --markdown-border-color: #e1e4e8;
}

// dark mode colors
html[data-theme='dark'] {
  --background-color: #262626; // 토스 블루 : #0064ff
  --primary-text-color: #ffffff; //
  --secondary-text-color: #dbdbdb; //
  --content-text-color: #ffffff; //

  --button-background-color: #444c56;
  --button-text-color: #fefefe; //

  --tab-text-color: #dbdbdb; //
  --tab-hover-text-color: #fdfdfd; //
  --tab-selected-background-color: #333333; //

  --chip-background-color: #333333; //
  --bio-link-icon-color: #ffffff; //
  --about-link-icon-color: #dbdbdb; //

  --link-text-color: #41c471; //
  --post-card-border-color: #fefefe; //

  --markdown-table-even-cell-background-color: #2d333b;
  --markdown-table-border-color: #dfe2e5; //
  --markdown-blockquote-border-color: #dfe2e5; //
  --markdown-border-color: #e1e4e8;
}
